<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos-Crear</title>
</head>
<body>
    <div class="container mt-4">
  <div class="card p-4 shadow">
    <h1 class="text-center mb-4">Agregar Nuevo Producto</h1>

    <form id="productForm" method="post" action="/api/products">
      <div class="form-group">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="description">Descripción:</label>
        <textarea id="description" name="description" class="form-control" required></textarea>
      </div>

      <div class="form-group">
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="code">Código:</label>
        <input type="text" id="code" name="code" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="thumbnails">Imágenes:</label>
        <input type="text" id="thumbnails" name="thumbnails" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Agregar Producto</button>
    </form>
  </div>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);
            const successMessage = urlParams.get('successMessage');

           if (successMessage) {
            Swal.fire({
                icon: 'success',
                title: '¡Éxito!',
                text: successMessage,
            }).then((result) => {
                if (result.isConfirmed || result.isDismissed) {

                    window.location.href = '/api/products/addProducts';
                }
            }); 
          }
            document.getElementById('productForm').reset();
        });
    </script>
</body>
</html>